*{
    box-sizing: border-box;
    flex-wrap: nowrap;
}
.btn{
    display: flex;
    position: fixed;
    box-sizing: border-box;
    left: 3%;
    top: 4%;
}
.btn-top{
    width: 112px;
    height: 49px;
    display: flex;
    background-color: #bf3a2a;
    border: 3px solid rgb(27, 27, 27);
    border-radius: 10px;
    top: 1%;
    left: 7%;
    position: absolute;
    z-index: 999;
}

.btn-back{
    width: 112px;
    height: 59px;
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
    left: 7% ;
    top: 2%;  
    position: absolute
}

.btn-txt{
    font-family: 'Paytone One', sans-serif;
    color:  #E4D7CA;
    font-size: 20px;
    text-decoration: none;
    inset: 0;
    margin: auto;
}
.btn-top:hover{
    background-color: #E6BB38;
    margin-top: -2px;
    margin-left: 10px; 
  
}
.btn-txt:hover{
    color: rgb(27, 27, 27);
}



.footer{
    width: 100%;
    bottom: 0;
    left:0;
    right:0;
    background-color: #A33A3A;;
    position: absolute;
    box-sizing: border-box;
    align-self: flex-end;
}

.footer-top{
    width: 100%;
    right: 0;
    bottom: 0;
    
} 

 .marquee-bottom{
    width: 100%;
    /* height: 6vh; */
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
    background-color:  #E4D7CA;
    font-size: 1.8em;
    padding: 10px 0;
    overflow: hidden;
} 

.bottom-text{
    font-family:'Showcard Gothic', sans-serif;
    color:#A33A3A;
    text-align: right;
    position: relative; 
    animation: runright linear 40s infinite; 
    font-size: .8em;

}  

@keyframes runright {
    0%{
      transform:translateX(50%);
    }
    100%{
      transform:translateX(-100%);
    }
}

.footer-main{
    width: 100%;
    /* height: 63vh; */
    height: 500px;
    /* border: 4px solid greenyellow; */
    display: flex;
    background-size: contain;
    /* margin-bottom: 30px; */
    box-sizing: border-box;
}

.footer-left{
    width: 50%;
    /* height: 65vh; */
    position: absolute;
    display: block;
    box-sizing: border-box;
    padding: 40px 130px;
    /* background-color: rgb(197, 205, 205); */
    
}
.contacts-box{
    position: absolute;
    width: 250px;
}
.contact-text{
    text-align: center;
    position: absolute;
    left: 100px;
    top: 80px;
    font-size: 10em;
    color:#E4D7CA;
    box-sizing: border-box;
    font-family: 'Paytone One', sans-serif;   
  
}
.phone{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.phone img{
    width: 130%;
    object-fit: cover;
}

.phone:hover, .phone:focus, .phone:active {
    -webkit-animation-name: hvr-wobble-vertical;
    animation-name: hvr-wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  } 
@-webkit-keyframes hvr-wobble-vertical {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  @keyframes hvr-wobble-vertical {
    16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
    49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
    83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  } 
.footer-right{
    width: 50%;
    /* height: 65vh; */
    position: absolute;
    right: 0;
    padding: 105px 15px;
    /* background-color: #FBC848; */
}

.scbcribe-box{
    width: 60%;
    position: absolute;
    transform: translate(30px, -10px);
    background-color: #A33A3A;
    padding-left: 10px;
    padding-bottom: 20px;
   
}

.top-txt{
    padding: 35px 0 0 5px;
    
}

.top-txt >h2{
    font-family: 'Paytone One', sans-serif;
    font-size: 1.5vw;
    padding: 0 0 10px 0;
    color:#E4D7CA;
}

.top-txt >h3{
    font-family: 'Battambang', sans-serif;
    font-size: 1.1vw;
    color:#E4D7CA;
}

.scbcribe-box input[type="text"],
.scbcribe-box input[type="submit"]{
    border: none;
    padding: 5px 10px;  
}

.scbcribe-box input[type="text"]{
    border-bottom: 1px solid #cacaca;
    background-color: #A33A3A;
    margin-top: 30px;
    margin-bottom: 15px;
    overflow: hidden;
    color: #E4D7CA;
  
}
.scbcribe-box input[type="submit"]{
    font-family: 'Paytone One', sans-serif;
    font-size: .5em;
    color: #c6766d;
    background-color: #f5e2b1;
    border-radius: 20px;
 
 
}
.footer-bottom{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #A33A3A;
    background-size: contain;
    /* margin-bottom: -10px; */
}

.bottom-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bottom-box{padding-top: 20pt;}

.txt{
    font-family: 'Paytone One', sans-serif;
    font-size: 1.3em;
    color: #E4D7CA;
    text-decoration: none;
}

.icon{
    display: flex;
    overflow: hidden;
    color: #E4D7CA;
}

.icon >a{
    width: 40px;
    margin-left: 30pt;
    padding-top: 20pt;
}

.icon >a img{
    width: 100%;
    object-fit: cover;
}   
